<div class="result">

  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Item #7</h3></div>
    <div class="panel-body">
      Lorem ipsum
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Item #8</h3></div>
    <div class="panel-body">
      Lorem ipsum
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Item #9</h3></div>
    <div class="panel-body">
      Lorem ipsum
    </div>
  </div>
  
</div>
          
      