<div class="result">

  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Item #4</h3></div>
    <div class="panel-body">
      Lorem ipsum
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Item #5</h3></div>
    <div class="panel-body">
      Lorem ipsum
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Item #6</h3></div>
    <div class="panel-body">
      Lorem ipsum
    </div>
  </div>
  
  <a href="page3.html" class="btn btn-default" data-more=".result" data-href="partials/page3.html"><i class="icon-progress"></i> More</a>
  
</div>
          